Import packages

In [2]:
import pandas as pd
import numpy as np
# for moving around libraries 
import os 
# for visualizing 
import matplotlib.pyplot as plt
import seaborn as sns
# for finding word 
import re

# Summaries of Neighborhood and Citywide Annual Sales sorted by borough and neighborhood
### src: https://www1.nyc.gov/site/finance/taxes/property-annualized-sales-update.page

In [110]:
# move to correct directory (NOTICE problems on git?)
os.chdir("C:/Users/meita/Documents/GitHub/project-Karta/Data/sales_data")

In order to open the excel files we'll use the following library

In [112]:
#!pip install xlrd

Check xls encoding value to be able to read it with python

# Extract, transform, load (ETL)

## Extract

Let's see all the sales data we collected

In [113]:
path = 'C:/Users/meita/Documents/GitHub/project-Karta/Data/sales_data'
files = os.listdir(path)
for f in files:
	print(f)

2009_bronx.xls
2009_brooklyn.xls
2009_manhattan.xls
2009_queens.xls
2009_statenisland.xls
2010_bronx.xls
2010_brooklyn.xls
2010_manhattan.xls
2010_queens.xls
2010_statenisland.xls
2011_bronx.xls
2011_brooklyn.xls
2011_manhattan.xls
2011_queens.xls
2011_statenisland.xls
2012_bronx.xls
2012_brooklyn.xls
2012_manhattan.xls
2012_queens.xls
2012_statenisland.xls
2013_bronx.xls
2013_brooklyn.xls
2013_manhattan.xls
2013_queens.xls
2013_statenisland.xls
2014_bronx.xls
2014_brooklyn.xls
2014_manhattan.xls
2014_queens.xls
2014_statenisland.xls
2015_bronx.xls
2015_brooklyn.xls
2015_manhattan.xls
2015_queens.xls
2015_statenisland.xls
2016_bronx.xls
2016_brooklyn.xls
2016_manhattan.xls
2016_queens.xls
2016_statenisland.xls
2017_bronx.xls
2017_brooklyn.xls
2017_manhattan.xls
2017_queens.xls
2017_statenisland.xls
2018_bronx.xlsx
2018_brooklyn.xlsx
2018_manhattan.xlsx
2018_queens.xlsx
2018_statenisland.xlsx
2019_bronx.xlsx
2019_brooklyn.xlsx
2019_manhattan.xlsx
2019_queens.xlsx
2019_statenisland.xlsx
sales_2007_bronx.xls
sales_2007_brooklyn.xls
sales_2007_manhattan.xls
sales_2007_queens.xls
sales_2007_statenisland.xls
sales_2008_bronx.xls
sales_2008_brooklyn.xls
sales_2008_manhattan.xls
sales_2008_queens.xls
sales_2008_statenisland.xls
sales_bronx_03.xls
sales_bronx_04.xls
sales_bronx_05.xls
sales_bronx_06.xls
sales_brooklyn_03.xls
sales_brooklyn_04.xls
sales_brooklyn_05.xls
sales_brooklyn_06.xls
sales_manhattan_03.xls
sales_manhattan_04.xls
sales_manhattan_05.xls
sales_manhattan_06.xls
sales_queens_03.xls
sales_queens_04.xls
sales_queens_05.xls
sales_queens_06.xls
sales_si_03.xls
sales_si_04.xls
sales_si_05.xls
sales_si_06.xls

We can assume that the way the name of the file is formetted has an impact on the way the data is stractured inside (e.g sales_brooklyn_03 is probably different than 2017_brooklyn but not as different then sales_brooklyn_05.

To select only certain files that we assume would be alike, we'll import glob

In [114]:
import glob

### 2017

Let's save all files from 2017 to the same list

In [115]:
sls_2017 = [file for file in glob.glob("2017_*")]
print(sls_2017)

['2017_bronx.xls', '2017_brooklyn.xls', '2017_manhattan.xls', '2017_queens.xls', '2017_statenisland.xls']

And we'll do same thing for every other year following the 2017 standart (presumably)

In [116]:
sls_2009 = [file for file in glob.glob("2009_*")]
sls_2010 = [file for file in glob.glob("2010_*")]
sls_2011 = [file for file in glob.glob("2011_*")]
sls_2012 = [file for file in glob.glob("2012_*")]
sls_2013 = [file for file in glob.glob("2013_*")]
sls_2014 = [file for file in glob.glob("2014_*")]
sls_2015 = [file for file in glob.glob("2015_*")]
sls_2016 = [file for file in glob.glob("2016_*")]
# we already have 2017
sls_2018 = [file for file in glob.glob("2018_*")]
sls_2019 = [file for file in glob.glob("2019_*")]

Because we are dealing with excel files (and not csv for example) we need to make sure the file encoding is fitting the way that we open the file.

In [117]:
def df_encoding(file):
    with open(f"./{file}") as f:
        return(f.encoding)
df_encoding(sls_2017[0])

'cp65001'

Giving each DataFrame variable a standertized name

In [118]:
def df_var_name(file):
    file_name = file
    file_var_name = "ann_sales_{tmp_file_name}" 
    return(file_var_name.format(tmp_file_name =re.findall('.*(?=\.)', file_name)[0] ))

df_var_name(sls_2017[0])

'ann_sales_2017_bronx'

Taking a file name and returning a DataFrame

In [121]:
def df_extract(file_name):
    file = file_name
    x = pd.read_excel(f"./{file}", 
                     header=0, 
                     infer_datetime_format=True,
                     encoding=df_encoding(file_name))
    return(x)

Take a list of excel files and return a dictonary containing each file as a data frame

In [122]:
def df_import(lst_of_files):
        df_dict = {df_var_name(name): df_extract(name) for name in lst_of_files}
        return(df_dict)

For each year, create a dictionnary containing the a DataFram for each Borough in NYC

2017

In [123]:
dict_sls_2017 = df_import(sls_2017)

The rest of the years

In [124]:
dict_sls_2009 = df_import(sls_2009)
dict_sls_2010 = df_import(sls_2010)
dict_sls_2011 = df_import(sls_2011)
dict_sls_2012 = df_import(sls_2012)
dict_sls_2013 = df_import(sls_2013)
dict_sls_2014 = df_import(sls_2014)
dict_sls_2015 = df_import(sls_2015)
dict_sls_2016 = df_import(sls_2016)
# 2017 we have
dict_sls_2018 = df_import(sls_2018)
dict_sls_2019 = df_import(sls_2019)

## Clean

See the keys in a dictionary

In [125]:
dict_sls_2017.keys()

dict_keys(['ann_sales_2017_bronx', 'ann_sales_2017_brooklyn', 'ann_sales_2017_manhattan', 'ann_sales_2017_queens', 'ann_sales_2017_statenisland'])

### 2017 Format

Takes a key and dictionary of DF's and returns single DataFrame (value of key)

In [126]:
def df_2017_std_return_value(key, dicto): 
    return(dicto.get(key))

Takes a single dataFrame and cleans it according to the 2017 excel file standart

In [127]:
def df_cln_2017_std(df_to_cln): 
    df_clnd = df_to_cln # copy the dataFrame we want to clean into a new DF
    df_clnd = df_clnd.drop(df_clnd.index[:3]) # drop the first three rows
    new_header = df_clnd.iloc[0] #grab the first row for the header
    df_clnd = df_clnd[1:] #take the data less the header row
    df_clnd.columns = new_header #set the header row as the df header
    df_clnd = df_clnd.reset_index(level=0, inplace=False) # reset the index (after removing the first - now 4 - rows)
    df_clnd = df_clnd.drop(columns=['index']) # drop the column with the name "index" (which is the old index before reset)
    df_clnd = df_clnd.rename_axis('', axis='columns') # remove row number falsely used as column name
    df_clnd.columns = df_clnd.columns.str.replace('\n', '', regex=True) # remove '\n' in column names
    return(df_clnd)

# The 2009 format drop 2 rows instead of 3 (in the 2017 format)
def df_cln_2009_std(df_to_cln): 
    df_clnd = df_to_cln # copy the dataFrame we want to clean into a new DF
    df_clnd = df_clnd.drop(df_clnd.index[:2]) # drop the first three rows <------------------------- the difference is here
    new_header = df_clnd.iloc[0] #grab the first row for the header
    df_clnd = df_clnd[1:] #take the data less the header row
    df_clnd.columns = new_header #set the header row as the df header
    df_clnd = df_clnd.reset_index(level=0, inplace=False) # reset the index (after removing the first - now 4 - rows)
    df_clnd = df_clnd.drop(columns=['index']) # drop the column with the name "index" (which is the old index before reset)
    df_clnd = df_clnd.rename_axis('', axis='columns') # remove row number falsely used as column name
    df_clnd.columns = df_clnd.columns.str.replace('\n', '', regex=True) # remove '\n' in column names
    return(df_clnd)

Takes a dictionary of 'dirty' DataFrames and return the dictionary cleaned

In [128]:
def dct_of_df_clnr_2017(dict_to_cln):
    return ({key: df_cln_2017_std(df_2017_std_return_value(key, dict_to_cln)) for key in (list(dict_to_cln.keys()))})

# The years 2009 and 2010 follow a slightly different format 

def dct_of_df_clnr_2009(dict_to_cln):
    return ({key: df_cln_2009_std(df_2017_std_return_value(key, dict_to_cln)) for key in (list(dict_to_cln.keys()))})

### Update dictionaries of DataFrames

2017

In [129]:
dict_sls_2017.update(dct_of_df_clnr_2017(dict_sls_2017))

the rest of the years that follow the 2017 format

In [130]:
dict_sls_2011.update(dct_of_df_clnr_2017(dict_sls_2011))
dict_sls_2012.update(dct_of_df_clnr_2017(dict_sls_2012))
dict_sls_2013.update(dct_of_df_clnr_2017(dict_sls_2013))
dict_sls_2014.update(dct_of_df_clnr_2017(dict_sls_2014))
dict_sls_2015.update(dct_of_df_clnr_2017(dict_sls_2015))
dict_sls_2016.update(dct_of_df_clnr_2017(dict_sls_2016))
# 2017 we have
dict_sls_2018.update(dct_of_df_clnr_2017(dict_sls_2018))
dict_sls_2019.update(dct_of_df_clnr_2017(dict_sls_2019))

2009 format

In [131]:
dict_sls_2009.update(dct_of_df_clnr_2009(dict_sls_2009))
dict_sls_2010.update(dct_of_df_clnr_2009(dict_sls_2010))

In [132]:
#dict_sls_2010.get('ann_sales_2010_manhattan.xls')

In [133]:
#dict_sls_2018

## Load

The data base architecture will be as such:
Every topic get's a different Database

import libraries

In [134]:
# in order to not expose our password we will use 'getpass'
import getpass
# To connect to mysql use:
from sqlalchemy import create_engine

Connect to my local SQL server

In [73]:
hostname = "localhost"
username = "root"
password = getpass.getpass()
database = "karta"
engine = create_engine(f"mysql+pymysql://{username}:{password}@{hostname}/{database}")

 ·············

Assign a name for our Database.

In [74]:
db_name = 'Karta'

Create a databese

In [75]:
from sqlalchemy.sql import text
with engine.connect() as con:
    rs = con.execute("CREATE DATABASE IF NOT EXISTS {} ".format(db_name))

The function takes a dictionary of dataFrames and loads each df as a table into the mySQL Date Base.

In [136]:
def dct_of_df_to_mysql(dict_to_load):
    dict_keys = list(dict_to_load.keys())
    dict_values = list(dict_to_load.values())
    #print (list((range(len(dict_to_load)))))
    [dict_values[i].to_sql(dict_keys[i], engine, index=False, if_exists='replace') for i in list(range(len(dict_to_load)))]

Push our dictonary of DataFrames into the DataBase

2017

In [137]:
dct_of_df_to_mysql(dict_sls_2017)

Rest of the years

In [138]:
dct_of_df_to_mysql(dict_sls_2009)
dct_of_df_to_mysql(dict_sls_2010)
dct_of_df_to_mysql(dict_sls_2011)
dct_of_df_to_mysql(dict_sls_2012)
dct_of_df_to_mysql(dict_sls_2013)
dct_of_df_to_mysql(dict_sls_2014)
dct_of_df_to_mysql(dict_sls_2015)
dct_of_df_to_mysql(dict_sls_2016)
# 2017 we have
dct_of_df_to_mysql(dict_sls_2018)
dct_of_df_to_mysql(dict_sls_2019)

# Energy and Water Data Disclosure for Local Law 84

## from NYC Open data
### src: https://data.cityofnewyork.us/browse?q=Energy%20and%20Water%20Data%20Disclosure%20for%20Local%20Law%2084%202012%20(Data%20for%20Calendar%20Year%202011)&sortBy=relevance

In September 2012, New York City released the 2011 energy and water use data for all properties required to annually benchmark under Local Law 84.
NOTICE (!) the data is collected only for buildings over 50,000 sqr ft

# Extract, transform, load (ETL)

## Extract

In [3]:
# move to correct directory (NOTICE problems on git?)
os.chdir("C:/Users/meita/Documents/GitHub/project-Karta/Data/energy_water_consumption")

Here are the files we collected:

In [45]:
path = 'C:/Users/meita/Documents/GitHub/project-Karta/Data/energy_water_consumption'
files = os.listdir(path)
for f in files:
	print(f)

Energy_and_Water_Data_Disclosure_for_Local_Law_84_2012__Data_for_Calendar_Year_2011_.csv
Energy_and_Water_Data_Disclosure_for_Local_Law_84_2013__Data_for_Calendar_Year_2012_.csv
Energy_and_Water_Data_Disclosure_for_Local_Law_84_2014__Data_for_Calendar_Year_2013_.csv
Energy_and_Water_Data_Disclosure_for_Local_Law_84_2015__Data_for_Calendar_Year_2014_.csv
Energy_and_Water_Data_Disclosure_for_Local_Law_84_2016__Data_for_Calendar_Year_2015_.csv
Energy_and_Water_Data_Disclosure_for_Local_Law_84_2017__Data_for_Calendar_Year_2016_.csv
Energy_and_Water_Data_Disclosure_for_Local_Law_84_2018__Data_for_Calendar_Year_2017_.csv
Energy_and_Water_Data_Disclosure_for_Local_Law_84_2019__Data_for_Calendar_Year_2018_.csv
Energy_and_Water_Data_Disclosure_for_Local_Law_84_2020__Data_for_Calendar_Year_2019_.csv

gets a a file name (with prefix) and returns a standartaized variable name

In [46]:
def df_var_name_wtr_nrg(file):
    file_name = file
    print(file_name)
    file_var_name = "ann_cnsmptn_wtr_nrg_{file_year}" 
    return(file_var_name.format(file_year =re.findall('(?<=Year_).+?(?=.\.)', file_name)[0] ))
df_var_name_water(files[0])

Energy_and_Water_Data_Disclosure_for_Local_Law_84_2012__Data_for_Calendar_Year_2011_.csv

'ann_cnsmptn_wtr_nrg_2011'

Takes a csv file and returns it as a dataFrame

In [47]:
def df_extract_csv(file_name):
    file = file_name
    x =  pd.read_csv(f"./{file}", 
                     header=0, 
                     infer_datetime_format=True,
                     low_memory=False)
    return(x)

Takes a list of files and returns a dictionary with tuples of (standertized variable name : data frame)

In [48]:
def df_import_wtr_nrg(lst_of_files):
        df_dict = {df_var_name_wtr_nrg(name): df_extract_csv(name) for name in lst_of_files}
        return(df_dict)

In [49]:
dict_wtr_nrg = df_import_wtr_nrg(files)

Energy_and_Water_Data_Disclosure_for_Local_Law_84_2012__Data_for_Calendar_Year_2011_.csv
Energy_and_Water_Data_Disclosure_for_Local_Law_84_2013__Data_for_Calendar_Year_2012_.csv
Energy_and_Water_Data_Disclosure_for_Local_Law_84_2014__Data_for_Calendar_Year_2013_.csv
Energy_and_Water_Data_Disclosure_for_Local_Law_84_2015__Data_for_Calendar_Year_2014_.csv
Energy_and_Water_Data_Disclosure_for_Local_Law_84_2016__Data_for_Calendar_Year_2015_.csv
Energy_and_Water_Data_Disclosure_for_Local_Law_84_2017__Data_for_Calendar_Year_2016_.csv
Energy_and_Water_Data_Disclosure_for_Local_Law_84_2018__Data_for_Calendar_Year_2017_.csv
Energy_and_Water_Data_Disclosure_for_Local_Law_84_2019__Data_for_Calendar_Year_2018_.csv
Energy_and_Water_Data_Disclosure_for_Local_Law_84_2020__Data_for_Calendar_Year_2019_.csv

## Transform / clean

In [99]:
def df_cln_wtr_nrg(df_to_cln): 
    df_clnd = df_to_cln # copy the dataFrame we want to clean into a new DF
    if 'Order' in df_clnd.columns: # remove the 'Order' column that's found in years 2019,2018
        del df_clnd['Order']
    df_clnd.columns = df_clnd.columns.str.strip() # remove spaces at the end of a column's name
    return(df_clnd)

Takes a dictionary of 'dirty' DataFrames and return the dictionary cleaned

In [100]:
def dct_of_df_clnr_wtr_nrg(dict_to_cln):
    return ({key: df_cln_wtr_nrg(df_2017_std_return_value(key, dict_to_cln)) for key in (list(dict_to_cln.keys()))})

In [101]:
dict_wtr_nrg.update(dct_of_df_clnr_wtr_nrg(dict_wtr_nrg))

In [105]:
#dict_wtr_nrg.get('ann_cnsmptn_wtr_nrg_2011')

In [63]:
#engine.execute(select([table])).fetchall()

## Load

Takes a dictionary of dataFrames and pushes it into mySQL as seperate tables

In [103]:
dct_of_df_to_mysql(dict_wtr_nrg)

# Energy Efficiency Completed Projects: Beginning 1987

## from DATA.NY.GOV
### src: https://data.ny.gov/Energy-Environment/Energy-Efficiency-Completed-Projects-Beginning-198/erjw-j2zx

The Energy Efficiency programs of the New York Power Authority provide energy-efficiency improvements, with no up-front costs, to public schools and other government facilities. From start to finish, the Power Authority works with facility managers to identify, design and install new lighting and motors, as well as upgrades to heating, ventilation and air-conditioning systems. We try to address all energy efficiency improvements in a single, comprehensive effort. This data set contains information on energy efficiency projects completed since 1987. The data set is updated in a quarterly basis to reflect new data as projects are implemented. The information includes project location, customer name, project name, total cost, and energy efficiency benefits, including energy reduction (electric, natural gas, oil) and greenhouse gas emissions reductions.

## Extract

In [140]:
ann_nrg_efficiency_cmpltd_projcts =  pd.read_csv(f"C:/Users/meita/Documents/GitHub/project-Karta/Data/Energy_Efficiency_Completed_Projects__Beginning_1987.csv", 
                     header=0, 
                     infer_datetime_format=True,
                     low_memory=False)

In [141]:
ann_nrg_efficiency_cmpltd_projcts

,Year completed,Date Completed,Project Code,Project Name,Regional Economic Development Council,NYISO Zone,NY State County,NY Region,Customer,Agency,...,Coal Savings (Tons),Equivalent Barrels of Oil Saved,Reduction in Greenhouse Gas Emissions (Tons),Renewable Energy (KW),Address,Address Ext,City,State,Zip,Project or Program description
0,2020,09/18/2020,ES-GSN-0822,NYCT - Manhattanville Bus Depot - Component Re...,New York City,J - New York City,NEW YORK,Southeastern,MTA - Metropolitan Transportation Authority,MTA - New York City Transit Authority,...,0.0,11662.74000,2585.361000,0.0,666 West 133rd St,NaN,New York,NY,10027,Energy Efficiency upgrades at the Manhattanvil...
1,2020,09/03/2020,ES-GSN-0851,CUNY - Multiple Sites - Sub-Metering Phase 2,New York City,J - New York City,NEW YORK,Southeastern,CITY UNIVERSITY OF NEW YORK,City University of New York,...,0.0,847.91720,128.001900,0.0,2900 Bedford Ave,NaN,Brooklyn,NY,11210,"Campus-wide, sub-meter installation at NYC Col..."
2,2020,09/03/2020,ES-ESN-0673,SUNY Alfred State - Phase 1,Western New York,B - Genesee,ALLEGANY,Western,SUNY - State University of New York,State University of New York,...,0.0,3654.29300,613.877400,0.0,10 Upper College Dr,NaN,Alfred,NY,14802,The scope of work includes the installation of...
3,2020,09/01/2020,ES-ESN-0721,Town of Ulster - LED Street Lighting (DESIGN O...,Mid-Hudson,G - Hudson Valley,ULSTER,Southeastern,"ULSTER, TOWN OF",NaN,...,0.0,312.93100,18.162270,0.0,Multiple,NaN,Lake Katrine,NY,12449,Design Only services for LED Street lighting
4,2020,08/31/2020,ES-GSN-0528,NYPD - Old 41st Police Precinct - Lighting & S...,New York City,J - New York City,BRONX,Southeastern,CITY OF NEW YORK,NYPD - New York City Police Department,...,0.0,802.66210,90.529750,0.0,1086 Simpson Street,NaN,Bronx,NY,10459,The scope of work includes an energy efficient...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2467,1988,12/31/1988,CH10727,Watt Busters - ENDICOTT,Southern Tier,C - Central,BROOME,Central,"ENDICOTT, VILLAGE OF",NaN,...,0.0,217.41380,12.618280,0.0,NaN,NaN,NaN,NY,NaN,Home energy audits and weatherization services...
2468,1988,12/31/1988,CH10723,Watt Busters - SPENCERPORT,Finger Lakes,B - Genesee,MONROE,Central,"SPENCERPORT, VILLAGE OF",NaN,...,0.0,2035.00000,118.128600,0.0,NaN,NaN,NaN,NY,NaN,Home energy audits and weatherization services...
2469,1987,12/31/1987,CH10725,Watt Busters - GROTON,Southern Tier,C - Central,TOMPKINS,Central,"GROTON, VILLAGE OF",NaN,...,0.0,612.75870,35.572800,0.0,NaN,NaN,NaN,NY,NaN,Home energy audits and weatherization services...
2470,1987,12/31/1987,CH79002,Watt Busters - SHERRILL,Mohawk Valley,E - Mohawk Valley,ONEIDA,Central,"SHERRILL, CITY OF",NaN,...,0.0,178.10350,10.336250,0.0,NaN,NaN,NaN,NY,NaN,Home energy audits and weatherization services...
2471,1987,12/31/1987,CH79001,Watt Busters - SKANEATELES,Central New York,C - Central,ONONDAGA,Central,"SKANEATELES, TOWN OF",NaN,...,0.0,37.06897,2.147792,0.0,NaN,NaN,NaN,NY,NaN,Home energy audits and weatherization services...

## Load

Takes a dictionary of dataFrames and pushes it into mySQL as seperate tables

In [142]:
ann_nrg_efficiency_cmpltd_projcts.to_sql('ann_nrg_efficiency_cmpltd_projcts', engine, index=False, if_exists='replace')